.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.lightModeIcon:hover {
  fill: #fff;
}

.darkModeIcon:hover {
  fill: #000;
}